<a href="https://colab.research.google.com/github/ABHAY1937/-ML/blob/main/Zomato_data_analysis_and_visualisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
plt.style.use("dark_background")

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import pandas as pd
df = pd.read_csv("/content/zomato.csv", encoding="latin-1", error_bad_lines=False, engine="python")
df.head()

Skipping line 1130: field larger than field limit (131072)
Skipping line 2046: field larger than field limit (131072)
Skipping line 2588: field larger than field limit (131072)
Skipping line 4133: field larger than field limit (131072)
Skipping line 4244: field larger than field limit (131072)
Skipping line 4804: field larger than field limit (131072)
Skipping line 4806: field larger than field limit (131072)
Skipping line 4810: field larger than field limit (131072)
Skipping line 4812: field larger than field limit (131072)
Skipping line 4946: field larger than field limit (131072)
Skipping line 4947: field larger than field limit (131072)
Skipping line 4948: field larger than field limit (131072)
Skipping line 5033: field larger than field limit (131072)
Skipping line 5176: field larger than field limit (131072)
Skipping line 5300: field larger than field limit (131072)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [ ]:
df.shape

(5284, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5284 entries, 0 to 5283
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          5284 non-null   object
 1   address                      5284 non-null   object
 2   name                         5284 non-null   object
 3   online_order                 5284 non-null   object
 4   book_table                   5284 non-null   object
 5   rate                         4584 non-null   object
 6   votes                        5284 non-null   int64
 7   phone                        5197 non-null   object
 8   location                     5283 non-null   object
 9   rest_type                    5261 non-null   object
 10  dish_liked                   2257 non-null   object
 11  cuisines                     5279 non-null   object
 12  approx_cost(for two people)  5273 non-null   object
 13  reviews_list                 5284 non-null   object
 14  menu_item                    5284 non-null   object
 15  listed_in(type)              5284 non-null   object
 16  listed_in(city)              5284 non-null   object
dtypes: int64(1), object(16)
memory usage: 701.9+ KB

In [ ]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [ ]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [ ]:
df.describe()

              votes
count   5284.000000
mean     214.364497
std      623.505288
min        0.000000
25%        7.000000
50%       39.000000
75%      163.000000
max    16345.000000

In [ ]:
df.isna().sum()

url                               0
address                           0
name                              0
online_order                      0
book_table                        0
rate                            700
votes                             0
phone                            87
location                          1
rest_type                        23
dish_liked                     3027
cuisines                          5
approx_cost(for two people)      11
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [ ]:
df.drop(columns=["url","address","phone","menu_item","dish_liked","reviews_list"],axis=1,inplace=True)
df

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...
5279,Beijing Bites,Yes,No,3.8/5,262,Richmond Road,Casual Dining,"Chinese, Thai",850,Delivery,Brigade Road
5280,Kabab Korner,Yes,No,3.9/5,205,St. Marks Road,Casual Dining,"North Indian, Chinese, Fast Food",500,Delivery,Brigade Road
5281,Oh My Chaat,Yes,No,3.1/5,18,Frazer Town,Quick Bites,Street Food,300,Delivery,Brigade Road
5282,YumYumSouth,Yes,No,3.5/5,38,Indiranagar,Delivery,South Indian,600,Delivery,Brigade Road
5283,Foodhall,Yes,No,4.0/5,113,MG Road,Casual Dining,"Italian, Bakery, Fast Food","1,000",Delivery,Brigade Road

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5284 entries, 0 to 5283
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         5284 non-null   object
 1   online_order                 5284 non-null   object
 2   book_table                   5284 non-null   object
 3   rate                         4584 non-null   object
 4   votes                        5284 non-null   int64
 5   location                     5283 non-null   object
 6   rest_type                    5261 non-null   object
 7   cuisines                     5279 non-null   object
 8   approx_cost(for two people)  5273 non-null   object
 9   listed_in(type)              5284 non-null   object
 10  listed_in(city)              5284 non-null   object
dtypes: int64(1), object(10)
memory usage: 454.2+ KB

In [ ]:
#dropping duplicates
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(5277, 11)

In [ ]:
#cleaning rate columns
df["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5'], dtype=object)

In [ ]:
#removing new,nan ,/5 from rate column

def handlerate(value):
    if (value=="NEW" or value=="-"):
        return np.nan
    elif isinstance(value, str) and value.isnumeric():
        value= str(value).split("/")
        value=value[0]
        return float(value)
    else:
        return np.nan

df["rate"]= df["rate"].apply(handlerate)
df["rate"].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: rate, dtype: float64

In [ ]:
df.rate.isnull().sum()

5277

In [ ]:
#filling null value in rate columns with mean
df["rate"].fillna(df["rate"].mean(),inplace=True)
df["rate"].isnull().sum()

5277

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5277 entries, 0 to 5283
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         5277 non-null   object
 1   online_order                 5277 non-null   object
 2   book_table                   5277 non-null   object
 3   rate                         0 non-null      float64
 4   votes                        5277 non-null   int64
 5   location                     5276 non-null   object
 6   rest_type                    5254 non-null   object
 7   cuisines                     5272 non-null   object
 8   approx_cost(for two people)  5266 non-null   object
 9   listed_in(type)              5277 non-null   object
 10  listed_in(city)              5277 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 494.7+ KB

In [ ]:
#dropping null values
df.dropna(inplace=True)
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, approx_cost(for two people), listed_in(type), listed_in(city)]
Index: []

In [ ]:
#renaming some column
df.rename(columns={"approx_cost(for two people)":"cost2plate","listed_in(type)":"type"},inplace=True)
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost2plate, type, listed_in(city)]
Index: []

In [ ]:
df["location"].unique()

array([], dtype=object)

In [ ]:
df["listed_in(city)"].unique()

array([], dtype=object)

In [ ]:
#listed in(city)and location both are there ,lets keep oly one
df=df.drop(["listed_in(city)"],axis=1)

In [ ]:
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost2plate, type]
Index: []

In [ ]:
df["cost2plate"].unique()

array([], dtype=object)

In [ ]:
#removing , from cost2plate column
def handlecomma(value):
  value=str(value)
  if"," in value:
    value=value.replace(",","")
    return float(value)
  else:
    return float(value)
df["cost2plate"]=df["cost2plate"].apply(handlecomma)
df["cost2plate"].unique()

array([], dtype=object)

In [ ]:
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost2plate, type]
Index: []

In [ ]:
#cleaning rest type column
df["rest_type"].value_counts()

Series([], Name: rest_type, dtype: int64)

In [ ]:

rest_type= df["rest_type"].value_counts(ascending=False)
rest_type

Series([], Name: rest_type, dtype: int64)

In [ ]:
rest_type_lessthan1000 =rest_type[rest_type<1000]
rest_type_lessthan1000

Series([], Name: rest_type, dtype: int64)

In [ ]:
# making rest types less than 1000 in freequency as other
def handle_rest_type(value):
  if(value in rest_type_lessthan1000):
    return "others"
  else: 
    return value
df["rest_type"] = df["rest_type"].apply(handle_rest_type)
df["rest_type"].value_counts()

Series([], Name: rest_type, dtype: int64)

In [ ]:
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost2plate, type]
Index: []

In [ ]:
#cleaning location column
df["location"].value_counts()

Series([], Name: location, dtype: int64)

In [ ]:
location= df["location"].value_counts(ascending=False)
location_lessthan300 = location[location<300]

def handle_location(value):
  if(value in location_lessthan300):
    return "others"
  else:
    return value

df["location"]= df["location"].apply(handle_location)
df["location"].value_counts()

Series([], Name: location, dtype: int64)

In [ ]:
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost2plate, type]
Index: []

In [ ]:
#cleaning cuisiens value
cuisines = df["cuisines"].value_counts(ascending = False)
cuisines_lessthan100 = cuisines[cuisines<100]

def handle_cuisines(value):
  if(value in cuisines_lessthan100):
    return "others"
  else:
    return value
df["cuisines"]=df["cuisines"].apply(handle_cuisines)
df["cuisines"].value_counts()

Series([], Name: cuisines, dtype: int64)

In [ ]:
df.head()

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost2plate, type]
Index: []

In [ ]:
df["type"].value_counts()

Series([], Name: type, dtype: int64)

data is clean, let's jump to visualization

In [ ]:
#count of restuarents in a location
plt.figure(figsize=(16,10))
sns.hist(df["location"])
plt.xticks(rotation=90)
plt.show()

AttributeError: ignored

In [ ]:
#visualizing online order
sns.catplot(x="online_order", kind="count", data=df, height=6, aspect=2)

plt.show()

ValueError: ignored

In [ ]:
#visualizing book table
sns.catplot(x="book_table", kind="count", data=df, height=6, aspect=2)
plt.xticks(rotation=30)
plt.show()

In [ ]:
 #visualizing online order vs rate
 plt.figure(figsize = (6,6))
 sns.barplot(x="online_order", y="rate", data=df)

In [ ]:
#visualizing book table vs rate
plt.figure(figsize= (6,6))
sns.boxplot(x="book_table", y="rate",data=df)

In [ ]:
#visualize the online order facility, location wise
df1 = df.groupby(["location", "online_order"])["name"].count()
df1.to_csv("location_online.csv")
df1 = pd.read_csv("location_online.csv")
df1 = pd.pivot_table(df1, values=None, index=["location"], columns=["online_order"], fill_value=0, aggfunc=np.sum)
df1

In [ ]:
df1.plot(kind="bar", figsize=(15,8))

In [ ]:
#visualizing book table facility, location wise
df2= df.groupby(["location","book_table"])["name"].count()
df2.to_csv("location_booktable.csv")
df2= pd.read_csv("location_booktable.csv")
df2=pd.pivot_table(df2, values=None , index=["location"],columns=["book_table"],fill_value=0,aggfunc=np.sum)
df2

In [ ]:
df2.plot(kind="bar",figsize=(15,8))

In [ ]:
#visualizing types of restaurents
plt.figure(figsize =(14,8))
sns.boxplot(x="type",y="rate",data=df , palette="Set3")
plt.show()

In [ ]:
#grouping types og restaurents,location wise
df3 =df.groupby(["location","type"])["name"].count()
df3.to_csv("location_type.csv")
df3 =pd.read_csv("location_type.csv")
df3 =pd.pivot_table(df3,values=None , index=["location"],columns=["type"],fill_value=0,aggfunc=np.sum)
df3

In [ ]:
df3.plot(kind="bar",figsize=(36,8))

In [ ]:
#number of votes,location wise
df4 =df[["location","votes"]]
df4.drop_duplicates()
df5=df4.groupby(["location"])["votes"].sum()
df5=df5.to_frame()
df5=df5.sort_values("votes",ascending=False)
df5.head()

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(df5.index, df5["votes"],data=df5)
plt.xticks(rotation=90)

In [ ]:

# Create the bar plot
plt.figure(figsize=(15,8))
sns.barplot(df5.index, df5["votes"])
plt.xticks(rotation=90)

In [ ]:
#visualizing top cuisiens
df6=df[["cuisines","votes"]]
df6.drop_duplicates()
df7=df6.groupby(["cuisines"])["votes"].sum()
df7=df7.to_frame()
df7=df7.sort_values("votes",ascending=False)
df7.head()

In [ ]:
df7=df7.iloc[1:,:]
df7.head()

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(df7.index , df7["votes"])
plt.xticks(rotation=90)